<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/history/update.css">

    <title>Ubah History</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Ubah History</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Site -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
            <a href="/history/list"><i class="fas fa-angle-double-left"></i>All History</a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">Edit History</h2>
          <span class="text-light">Use the below form to create edit history</span>
        </div>

        <!-- form handling -->
        <form method="POST" id="update_user" action="/history/update">
          <div class="new_user">
            <div class="form-group">
              <label for="player_win_id" class="text-light">Player Win ID</label>
              <input type="hidden" name="id" value="<%= histories.id %>">
              <input type="text" name="player_win_id" id="player_win_id" placeholder="player win id" value="<%= histories.player_win_id %>">
            </div>
            <div class="form-group">
              <label for="player_lose_id" class="text-light">Player Lose ID</label>
              <input type="text" name="player_lose_id" id="player_lose_id" placeholder="player lose id" value="<%= histories.player_lose_id %>">
            </div>
            <div class="form-group">
              <label for="date" class="text-light">Date</label>
              <input type="date" name="date" id="date" placeholder="date" value="<%= histories.date %>">
            </div>
            <div class="form-group">
              <label for="time" class="text-light">Time</label>
              <input type="text" name="time" id="time" placeholder="time" value="<%= histories.time %>">
            </div>
            <div class="form-group">
              <label for="score" class="text-light">Score</label>
              <input type="text" name="score" id="score" placeholder="score" value="<%= histories.score %>">
            </div>

            <div class="form-group">
              <button type="submit" class="btn text-dark update">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </main>

</body>
</html>