<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/games.css">

    <title>Games</title>
  </head>
  <body>

    <!-- Rock Paper Scissors -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/home" class="back"></a>
            </div>
            <div class="col">
                <img src="/img/logo.png" class="logo" alt="logo">
            </div>
            <div class="col">
                <h1 class="judul"><p>ROCK PAPER SCISSORS</p></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="player1">PLAYER 1</div>
                <img src="/img/batu.png" class="batu1" alt="batu1">
                <img src="/img/kertas.png" class="kertas1" alt="kertas1">
                <img src="/img/gunting.png" class="gunting1" alt="gunting1">
            </div>
            <div class="col">
                <p class="versus"></p>
                <p id="keadaan" class="status"></p>
                <img src="/img/refresh.png" class="refresh" alt="refresh" onclick="Refresh()">
            </div>
            <div class="col">
                <div class="com">COM</div>
                <img src="/img/batu.png" class="batu2" alt="batu2" id="musuh1">
                <img src="/img/kertas.png" class="kertas2" alt="kertas2" id="musuh2">
                <img src="/img/gunting.png" class="gunting2" alt="gunting2" id="musuh3">
            </div>
        </div>
    </div>

    <script src="/js/home.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>