<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/match/form.css">

    <title>Match Form</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Tambah Match</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Site -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
            <a href="/match/list"><i class="fas fa-angle-double-left"></i>All Match</a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New Match</h2>
          <span class="text-light">Use the below form to create new match</span>
        </div>

        <!-- form handling -->
        <form method="POST" id="update_user" action="/match">
          <div class="new_user">
            <div class="form-group">
              <label for="player_1_id" class="text-light">Player 1 ID</label>
              <input type="hidden" name="id">
              <input type="text" name="player_1_id" id="player_1_id" placeholder="player 1 id from users">
            </div>
            <div class="form-group">
              <label for="player_2_id" class="text-light">Player 2 ID</label>
              <input type="text" name="player_2_id" id="player_2_id" placeholder="player 2 id from users">
            </div>
            <div class="form-group">
              <label for="player_1_hand" class="text-light">Player 1 Hand</label>
              <input type="text" name="player_1_hand" id="player_1_hand" placeholder="player 1 selected hand">
            </div>
            <div class="form-group">
              <label for="player_2_hand" class="text-light">Player 2 Hand</label>
              <input type="text" name="player_2_hand" id="player_2_hand" placeholder="player 2 selected hand">
            </div>
            <div class="form-group">
              <label for="result" class="text-light">Result</label>
              <input type="text" name="result" id="result" placeholder="result from match">
            </div>

            <div class="form-group">
              <button type="submit" class="btn text-dark update">Save</button>
            </div>
          </div>
        </form>
      </div>
    </main>

</body>
</html>