<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/match/view.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>Detail Match</title>
</head>
<body>
    <div class="center">
      <div class ="content">
        <div class="header">
          <h2>Detail Match</h2>
        </div>
        
          <table>
            <tr>
              <td><strong>ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= matches.id %></td>
            </tr>
            <tr>
              <td><strong>Player 1 ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= matches.player_1_id %></td>
            </tr>
            <tr>
              <td><strong>Player 2 ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= matches.player_2_id %></td>
            </tr>
            <tr>
              <td><strong>Player 1 Hand</strong></td>
              <td><strong>:</strong></td>
              <td><%= matches.player_1_hand %></td>
            </tr>
            <tr>
              <td><strong>Player 2 Hand</strong></td>
              <td><strong>:</strong></td>
              <td><%= matches.player_2_hand %></td>
            </tr>
            <tr>
              <td><strong>Result</strong></td>
              <td><strong>:</strong></td>
              <td><%= matches.result %></td>
            </tr>
          </table>

          <div class="line"></div>
          <a href="/match/list"><label for="click" class="close-btn">Kembali ke daftar match</label></a>
        </div>
      </div>
    </div>
</body>
</html>