<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/users/update.css">

    <title>Ubah Users</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Ubah Users</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Site -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
            <a href="/users/list"><i class="fas fa-angle-double-left"></i>All Users</a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">Edit Users</h2>
          <span class="text-light">Use the below form to create edit user</span>
        </div>

        <!-- form handling -->
        <form method="POST" id="update_user" action="/users/update">
          <div class="new_user">
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input type="hidden" name="id" value="<%= user.id %>">
              <input type="text" name="name" id="name" placeholder="your name" value="<%= user.name %>">
            </div>
            <div class="form-group">
              <label for="username" class="text-light">Username</label>
              <input type="text" name="username" id="username" placeholder="your username" value="<%= user.username %>">
            </div>
            <div class="form-group">
              <label for="email" class="text-light">Email</label>
              <input type="text" name="email" id="email" placeholder="your email" value="<%= user.email %>">
            </div>
            <div class="form-group">
              <label for="password" class="text-light">Password</label>
              <input type="text" name="password" id="password" placeholder="your password" value="<%= user.password %>">
            </div>
            <div class="form-group">
              <label for="address" class="text-light">Address</label>
              <input type="text" name="address" id="address" placeholder="your address" value="<%= user.address %>">
            </div>

            <div class="form-group">
              <button type="submit" class="btn text-dark update">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </main>

</body>
</html>